
#feeddiv {
    margin-top: 4px;
}

.feedheader {

    display: block;
    text-align: center;
    color: #0087ba;
}

#themed{
    max-width: 500px;
    border-radius: 0;
}

.custom {
    min-width: 300px;
    margin-right: 1px;
}

